name: Test
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.10.1
      - run: make test
      - if: success() || failure()
        uses: ./
        with:
          output: /tmp/output.html
          inputs: build/reports
      - uses: actions/upload-artifact@v7
        if: success() || failure()
        id: upload-artifact
        with:
          name: foolhtml
          archive: false
          path: /tmp/output.html
      - uses: actions/github-script@v6
        if: github.event_name == 'pull_request'
        env:
          ARTIFACT_URL: ${{ steps.upload-artifact.outputs.artifact-url }}
        with:
          script: |
            const artifactUrl = process.env.ARTIFACT_URL;
            const commentBody = `You can see [ci-reports](${artifactUrl}) here.`;
            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: commentBody,
            });

      - name: Test Report Summary
        if: success() || failure()
        uses: dorny/test-reporter@v2
        with:
          name: test-report
          path: "build/reports/test-reports.xml"
          reporter: java-junit
      - uses: k1LoW/octocov-action@v1
